*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}


.header{
      background-color: #163A24;
}


.container{
      width: 1200px;
      margin: 0 auto;

}



.navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
}


.nav__right{
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;

}


.nav__right h2{
      font-size: 22px;
      color: #fff;
}


.nav__right button{
      width: 91px;
      height: 25px;
      border-radius:180px;
      background-color: green;
      color: #fff;
      border: none;
}


.running{
      display: flex;
      justify-content: space-between;
      align-items: center;
}


.header__left{
      color: #fff;
      font-size: 22px;
      line-height: 35px;
      
}